<div ng-include="'app/header.html'"></div>

<nav style="width:100%">
  <h1 class="userBanner"><div class="userContainer"><img class="userPhoto" src="{{userPhoto}}">{{username}}</div></h1>
  <!-- Fetch all the posts data related to the user -->
  <button id="showOrderButton" ng-click="toggleLatest()">{{buttonText}}</button>
</nav>
<div class="contentBanner"></div>
<div class="userBlock">
<div class="twoColumns" style="float:left">
  <div class="content">
  <h2 class="profileTitle">{{userPosts.length}} Posts</h2>
    <div class="postProfileView" ng-repeat="post in userPosts | orderBy:post.created: latest">
    <div class="profilePostContent"><h4><div class='postname' ui-sref="comments({post: post})">{{post.title}}</div></h4>
    <span>{{ TimeService.relativeDate(post.created)}}</span></div>
    </div>
  </div>
</div>

<div class="twoColumns" style="float:right">
<div class="content">
<h2 class="profileTitle">{{userComments.length}} Comments</h2>
  <div class="commentProfileView" ng-repeat="comment in userComments | orderBy:comment.created: latest">
  <div class="profilePostContent"><h4><div class='commentname' ui-sref="comments({post: comment.post})">{{comment.body}}</div></h4>
  <span>{{ TimeService.relativeDate(comment.created)}}</span>
  </div>
</div>
</div>
</div>
</div>
<div class="contentBanner"></div>
<svg id="userPosts" width="100%" height="500px"></svg>
