<div ng-include="'app/header.html'"></div>
<h1>{{username}}</h1>
<!-- Fetch all the posts data related to the user -->
<input type="button" ng-click="toggleLatest()" value="Show Latest">

<div>
<div class="twoColumns" style="float:left">
<h2>Posts Written: {{userPosts.length}}</h2>
  <div ng-repeat="post in userPosts | orderBy:post.created: latest">
  <h4>{{post.title}}</h4>
  <span>{{ TimeService.relativeDate(post.created)}}</span>
  </div>
</div>

<div class="twoColumns" style="float:right">
<h2>Comments Posted: {{userComments.length}}</h2>
  <div ng-repeat="comment in userComments | orderBy:comment.created: latest">
  <h4>{{comment.body}}</h4>
  <span>{{ TimeService.relativeDate(comment.created)}}</span>
  </div>
</div>
</div>
<svg id="userPosts" width="100%" height="500px"></svg>
