<div ng-include="'app/header.html'"></div>
<h1>{{username}}</h1>
<!-- Fetch all the posts data related to the user -->
<input type="button" ng-click="toggleLatest()" value="Show Latest">
<div>Posts Written: {{userPosts.length}}</div>
<div ng-repeat="post in userPosts | orderBy:post.created: latest">
<li>{{post.title}}</li>
<span>{{post.created}}</span>
</div>

<div>Comments Posted: {{userComments.length}}</div>
<div ng-repeat="comment in userComments | orderBy:comment.created: latest">
<li>{{comment.body}}</li>
<span>{{comment.created}}</span>
</div>

<pre>{{userComments}}</pre>
<svg id="userPosts" width="100%" height="500px"></svg>
