<div ng-include="'app/header.html'"></div>

<div id="posts-container">
  <div class="posts" ng-repeat="post in posts |
    orderBy:'-post.created':true |
    filter: searchFor |
    filter: { forum: forum }">

    <a ui-sref="comments({post: post})">
      <h2 ng-bind="post.title"></h2></a>
      <p>
<!-- should dynamic author name be inserted? -->
        <span id='username' ui-sref="profile({user: post.author})"ng-bind="post.author"></span> -
        {{ TimeService.relativeDate(post.created) }}

        <span class="num-comments"> {{ numberOfComments[post._id] }} Comment{{ + numberOfComments[post._id] !== 1 ? 's' : '' }}</span>
        <span class="votes"> <span class="cursor" ng-click="upVote(post)"> <i class="tiny material-icons">thumb_up</i> </span> <span> {{post.votes}} Votes </span> </span>
      </p>
  </div>

  <div class="sidebar">
    <div class="search">
      <input ng-model="searchFor" placeholder="Search" />
    </div>

    <br />

    <div class="forum">
      {{ forum }}
    </div>

    <div class="forums" ng-repeat="forum in forums">
      <p>
        <a ng-click="switchForum(forum)">{{ forum }}</a>
      </p>
    </div>


    <a ui-sref=".chat" id="chatBttn">Chat</a>
    <div ui-view></div>

  </div>
</div>

